 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.section1 {
    display: flex;
    justify-content: center;
    gap: 246px;
    padding-top: 92px;
    padding-bottom: 132px;
    background-color: #f0f2f5;
}
.account {
    display: flex;
    flex-direction: column;
    /* Cho de thay */
    height: 496px;
}
.logo {
    color: #1877f2;
    font-size: 35px;
    letter-spacing: -1px;
    padding-bottom: 8px;
    font-weight: 700;
}
.title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
}

.sub_title {
    padding-bottom: 24px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

.account__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cards {
    display: flex;
    justify-content: flex-start;
    gap: 18px;
}

.card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 4px 10px 5px rgba(24, 23, 23, 0.1);
    transition: all 0.5s ease;
    cursor: pointer;
}



.card {
    position: relative;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 0 0 1px #e1e3e6;
    height: 206px;
    width: 160px;
}

.delete {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
    background-color: #b2b2b2;
    border-radius: 50%;
    z-index: 1000;
}

.card.delete:hover {
    top: 0px;
    left: 0px;
    background-color: white;
    
}

.up1 {
    position: absolute;
    left: 7px;
    top: 4px;
    width: 2px;
    height: 8px;
    background-color: white;
    border-radius: 1px;
    transform: rotate(45deg);
}

.down1 {
    transform: rotate(135deg);
}

.user img {
    position: absolute;
    margin: 0 17px;
}
.card p {
    width: 160px;
    position: absolute;
    text-align: center;
    padding: 12px;
    color: #4b4f56;
    top: 160px;
    font-size: 18px;
    line-height: 22px;
}

.add p {
    color: #1877f2;
}
.upper {
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 160px;
    height: 160px;
    background-color: #f5f6f7;
    justify-content: center;
    align-items: center;
}
.upper__symbol {
    position: relative;
    flex-direction: column;
    width: 42px;
    height: 42px;
    background-color: #1976f2;
    border-radius: 50%;
}

.up2 {
    position: absolute;
    left: 19px;
    top: 11px;
    width: 4px;
    height: 20px;
    background-color: white;
    border-radius: 10px;
}

.down2 {
    transform: rotate(90deg);
}


.form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: white;
    height: auto;
    width: 396px;
    padding-top: 10px;
    padding-bottom: 24px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.input_container{
    margin-bottom: 4px;
}

.input {
    padding: 6px 0px;
}
::placeholder {
    color: #90949c;
}   

.input input:focus::placeholder {
    color: #9fa9bd;
}

.input input {
    box-sizing: content-box;
    border: none;
    border: 1px solid #e1e3e6;
    /* box-shadow: 0 0 0 1px #e1e3e6; */
    font-size: 17px;
    line-height: 22px;
    border-radius: 6px;
    width: 330px;
    padding: 14px 16px;
    outline: none;
}
.input input:focus  {
    color: #8a92a3;
    border: 1px solid #1877f2;
    box-shadow: 0px 0px 0px 1.5px  #dee7f3;
}

.button_container {
    padding-top: 6px;
}

.button {
    box-sizing: content-box;
    background-color: #1877f2;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
}
.button:hover {
    cursor: pointer;
}

.forget_pass {
    margin-top: 16px;
}

.forget_pass a{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}

.forget_pass a:hover{
    text-decoration: underline;
}

.seperator {
    border: none;
    width: 364px;
    height: 0.8px;
    margin: 20px 16px;
    background-color: #e8eaec;
}

.create {
    font-size: 17px;
    line-height: 48px;
    width: auto;
    background-color: #42b72a;
}

.create:hover {
    background-color: #3a9e25;
    transition: all 0.3s ease;
}

.guide {
    width: 396px;
    margin: 26px 0;
    text-align: center;
}
.guide span {
    font-size: 14px;
    font-weight: normal;
    color: #1c1e21;
}

.footer {
    /* cho de thay */
    padding-top: 20px;
    padding-bottom: 100px;
    background-color: white;
}

.bottom_text li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.bottom_text {
    padding-top: 8px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    /* justify-content: flex-start; */
    gap: 10px;
    font-size: 12px;
    color: #737373;
}

.end_button {
    position: relative;
    box-sizing: content-box;
    width: 28px;
    height: 18px;
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;  
    border-radius: 2px;
}

.up3 {  
    position:absolute;
    height: 12px;
    width: 3px;
    top: calc((18px - 12px) / 2);
    left: calc((28px - 3px) / 2);
    background-color: #6a7180;
}

.down3 {
    transform: rotate(90deg);
}

.seperator__end {
    margin: 8px 0px 0px 0px;
    width: 100%;
}

.misc__items {
    gap: 20px;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    
}